@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200&display=swap');

body{
    font-family: Poppins;
    background-color: black;
    color: #eee;
    margin: 0;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #eee;
}

header{
    width: 1140px;
}
